<div id="footerWrap">
  <footer>
    <p class="headerFooterItem">Page Created By Marco Castrita</p>
    <p class="headerFooterItem">Video link: <a herf="">Not availabe</a></p>
    <p class="headerFooterItem">Github link: <a herf="https://github.com/Mcast77/CS-312-MiniProject-1">Click here</a></p>
  </footer>
</div>
